{% extends "base.html" %}

{% block title %}Информация о сайте — Анализатор страниц{% endblock %}

{% block content %}
<div class="container mt-5" data-test="url">
  <h2>Сайт: {{ url[1] }}</h2>


  <div class="row g-3">
    <div class="col-md-12">
        <div class="card p-0 border-0">
            <div class="card-body p-0">
                <table class="table table-bordered border-0 m-0 w-100">
                    <thead>
                        <tr>
                            <th class="fw-bold col-6" style="width: 50%;">Наименование значения</th>
                            <th class="col-6" style="width: 50%;">Значение</th>
                        </tr>
                    </thead> 
                    
                    <tbody>
                        <tr>
                            <td class="fw-bold col-6" style="width: 50%;">ID:</td>
                            <td class="col-6" style="width: 50%;">
                                {{ url.id }}
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold col-6" style="width: 50%;">Имя:</td>
                            <td class="col-6" style="width: 50%;">
                                {{ url[1] }}
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold col-6" style="width: 50%;">Дата добавления:</td>
                            <td class="col-6" style="width: 50%;">
                                {{ url.created_at }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

    <h3 class="mt-5">Проверки</h3>
  <!-- Форма запуска проверки -->
  <form method="post" action="{{ url_for('routes.check_url', id=url[0]) }}" class="mt-4">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
  </form>
  <!-- Таблица проверок -->
  <table class="table table-bordered table-hover mt-2" data-test="checks">
  <thead>
      <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>H1</th>
          <th>Title</th>
          <th>Description</th>
          <th>Дата создания</th>
      </tr>
  </thead>
  <tbody>
      {% for check in checks %}
      <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code }}</td>
          <td>{{ check.h1 }}</td>
          <td>{{ check.title }}</td>
          <td>{{ check.description }}</td>
          <td>{{ check.created_at }}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock %}