{% extends "base.html" %}

{% block content %}
<div class="container mt-5" data-test="url">
  <h2>Детальная информация по URL</h2>
  <dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ url[0] }}</dd>

    <dt class="col-sm-3">URL</dt>
    <dd class="col-sm-9">{{ url[1] }}</dd>

    <dt class="col-sm-3">Дата добавления</dt>
    <dd class="col-sm-9">{{ url[2] }}</dd>
  </dl>
  <a href="{{ url_for('urls') }}" class="btn btn-secondary">Назад к списку URL</a>
</div>
{% endblock %}