{% extends "base.html" %}

{% block title %}Список сайтов — Анализатор страниц{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Добавленные URL</h2>

  <table class="table table-bordered" data-test="urls">
    <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Дата добавления</th>
            <th>Код ответа</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url[0] }}</td>
            <td><a href="{{ url_for('show_url', id=url[0]) }}">{{ url[1] }}</a></td>
            <td>{{ url[2] }}</td>
            <td>
                {% if url[4] %}
                    {{ url[4] }}
                {% else %}
                    Нет данных
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <a href="{{ url_for('index') }}" class="btn btn-primary">Добавить новый URL</a>
</div>
{% endblock %}